[user]
    name = cs01
    email = cs01@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[fetch]
    prune = true

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[rerere]
    enabled = true

[alias]
    # Status & info
    s = status -sb
    ss = status

    # Branching
    co = checkout
    cb = checkout -b
    b = branch
    bd = branch -d
    bD = branch -D

    # Commits
    c = commit
    cm = commit -m
    ca = commit --amend
    can = commit --amend --no-edit

    # Diffs
    d = diff
    ds = diff --staged

    # Logging
    l = log --oneline -20
    lg = log --oneline --graph --all -30
    ll = log --pretty=format:'%C(yellow)%h%Creset %s %C(green)(%cr)%Creset %C(blue)<%an>%Creset' -20

    # Push/Pull
    p = push
    pf = push --force-with-lease
    pu = pull

    # Stash
    st = stash
    stp = stash pop
    stl = stash list

    # Reset
    unstage = reset HEAD --
    undo = reset --soft HEAD~1

    # Misc
    aliases = config --get-regexp alias
    whoami = config user.email
